<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工单管理</title>
    <link rel="stylesheet" href="../../resource/plugin/layui/css/layui.css"/>
    <link rel="stylesheet" href="../../resource/css/style_blue.css"/>
    <link rel="stylesheet" href="../../resource/css/pager.css"/>
    <link rel="stylesheet" href="../../resource/css/style_2.0_blue.css"/>
    <link rel="stylesheet" href="../../resource/css/fault.css"/>
    <link rel="stylesheet" href="../../resource/css/new_workorder.css"/>
</head>
<body>
<div id="new_order" style="height: 100%;">

    <div class="map_wap">
        <div class="map_con">
            <div class="tendency_ri">
                <div class="work_head clearfix" @click="popTask($event)">
                    <a href="javascript:;" class="fl" id="order_fill">工单填报</a>
                    <a href="javascript:;" class="fl" id="order_finish">工单结束</a>
                    <a href="javascript:;" class="fl" id="order_detail">工单详情</a>
                    <a href="javascript:;" class="fl" id="order_export">工单导出</a>
                </div>

                <div class="task_sub_wrap" >
                    <div class="task_head_wrap">
                        <table class="task_table_head">
                            <thead id="tableHead">
                            <tr>
                                <th style="width: 5%;"></th>
                                <th style="width: 5%;">序号</th>
                                <th style="width: 12%">电站名称</th>
                                <th style="width: 18%">工单编号</th>
                                <th style="width: 10%">工作任务</th>
                                <th style="width: 10%">工作负责人</th>
                                <th style="width: 10%">计划开始时间</th>
                                <th style="width: 10%">计划结束时间</th>
                                <th style="width: 10%">实际结束时间</th>
                                <th style="width: 8%">工单状态</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="task_bot_table_wrap">
                        <table class="task_table">
                            <tbody id="dailyreportbody"></tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!--分页-->
            <div id="Paginationother" style="margin-right: 100px" class="pagination Page_other"></div>
        </div>
    </div>

    <input type="hidden" value="10" id="pageId">

</div>

<!--tasklist模板-->
<script type="text/template" id="task_tpl">
    <% for(var i=0;i< tasklist.length; i++){%>
    <tr>
        <td style="width: 5%;">
            <input type="radio" name="fdId" id="<%=tasklist[i].fdId%>"/>
            <input type="hidden" value="<%=tasklist[i].fdId%>"/>
        </td>
        <td style="width: 5%;"><%=i+1%></td>
        <td style="width: 12%;"><%=tasklist[i].fdPsid%></td>
        <td style="width: 18%;"><%=tasklist[i].fdOrdernum%></td>
        <td style="width: 10%;"><%=tasklist[i].fdWorkTask%></td>
        <td style="width: 10%;"><%=tasklist[i].fdUser%></td>
        <td style="width: 10%;"><%=tasklist[i].fdWstartDatetime%></td>
        <td style="width: 10%;"><%=tasklist[i].fdWendDatetime%></td>
        <td style="width: 10%;"><%=tasklist[i].fdEndtime%></td>
        <td style="width: 8%" class="task_status" data-status="<%=tasklist[i].fdWorkStatus%>"><%=LANG[tasklist[i].fdWorkStatus]%></td>
    </tr>
    <% }%>

</script>


<script src="../../resource/js/jquery-1.8.3.min.js"></script>
<script src="../../resource/js/lib/vlm.js"></script>
<script src="../../resource/js/lib/vue.js"></script>
<script src="../../resource/js/lib/ejs.js"></script>
<script src="../../resource/js/common/base.js"></script>
<script src="../../resource/js/common/esmpbase.js"></script>
<script src="../../resource/js/common/table_header.js"></script>
<script src="../../resource/js/common/common_zh_CN.js"></script>
<script src="../../resource/plugin/layui/lay/dest/layui.all.js"></script>
<script src="../../resource/plugin/jq-cookie/jquery-cookie.js"></script>
<script src="../../resource/plugin/pager/pager.js"></script>
<script src="../../resource/js/powerManage/new_workorder/new_work_order.js"></script>

</body>
</html>