<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>库存查询</title>
    <link rel="stylesheet" href="../resource/plugin/layui/css/layui.css"/>
    <link rel="stylesheet" href="../resource/css/style_blue.css"/>
    <link rel="stylesheet" href="../resource/css/pager.css"/>
    <link rel="stylesheet" href="../resource/css/style_2.0_blue.css"/>
    <link rel="stylesheet" href="../resource/css/fault.css"/>
    <link rel="stylesheet" href="../resource/css/new_workorder.css"/>
</head>
<body>
<div id="query_stock" style="height: 100%;">

    <div class="map_wap">
        <div class="map_con">
            <div class="tendency_ri">
                <div class="work_head clearfix" >
                    <div class="fl dev_query_wrap">
                        <select name="" id="device_name" v-model="fdequipmentname">
                            <!--<option value="111">111</option>-->
                        </select>
                        <input class="pl10" type="text" v-model="fdequipmentcode" value="" id="eq_mac" placeholder="请输入设备类型编号">
                        <a href="javascript:;" id="device_query" class="ml30" @click="queryClick">查询</a>
                    </div>
                </div>


                <div class="task_sub_wrap">
                    <div class="task_head_wrap">
                        <table class="task_table_head">
                            <thead id="tableHead">
                            <tr>
                                <th style="width: 5%;"></th>
                                <th style="width: 5%;">序号</th>
                                <th style="width: 15%">设备名称</th>
                                <th style="width: 15%">设备类型编号</th>
                                <th style="width: 10%">设备类型</th>
                                <th style="width: 15%">单位</th>
                                <th style="width: 10%">库存数量</th>
                                <th>安全库存</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="task_bot_table_wrap">
                        <table class="task_table">
                            <tbody id="dailyreportbody"></tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!--分页-->
            <div id="Paginationother" style="margin-right: 100px" class="pagination Page_other"></div>
        </div>
    </div>

    <input type="hidden" value="10" id="pageId">

</div>

<!--stocklist模板-->
<script type="text/template" id="stock_tpl">
    <% for(var i=0;i< stocklist.length; i++){%>
    <tr>
        <td style="width: 5%;">
            <input type="radio" name="fdId" id="<%=stocklist[i].id%>"/>
            <input type="hidden" value="<%=stocklist[i].id%>"/>
        </td>
        <td style="width: 5%;"><%=i+1%></td>
        <td style="width: 15%;"><%=stocklist[i].fd_equipment_name%></td>
        <td style="width: 15%;"><%=stocklist[i].fd_equipment_code%></td>
        <td style="width: 10%;"><%=stocklist[i].fd_equipment_class_name%></td>
        <td style="width: 15%;"><%=stocklist[i].fd_unit%></td>
        <td style="width: 10%;"><%=stocklist[i].fd_count%></td>
        <td><%=stocklist[i].fd_count_threshold%></td>
    </tr>
    <% }%>

</script>


<script src="../resource/js/jquery-1.8.3.min.js"></script>
<script src="../resource/js/lib/vlm.js"></script>
<script src="../resource/js/lib/vue.js"></script>
<script src="../resource/js/lib/ejs.js"></script>
<script src="../resource/js/common/base.js"></script>
<script src="../resource/js/common/esmpbase.js"></script>
<script src="../resource/js/common/table_header.js"></script>
<script src="../resource/js/common/common_zh_CN.js"></script>
<script src="../resource/plugin/layui/lay/dest/layui.all.js"></script>
<script src="../resource/plugin/jq-cookie/jquery-cookie.js"></script>
<script src="../resource/plugin/pager/pager.js"></script>
<script src="../resource/plugin/validate/jquery.validate.js"></script>
<script src="../resource/js/device_manage/query_stock.js"></script>

</body>
</html>