<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="resource/css/style_blue.css"/>
    <link rel="stylesheet" href="resource/plugin/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="resource/css/login.css"/>
    <script src="resource/js/jquery-1.10.2.min.js"></script>
    <script src="resource/plugin/layui/lay/dest/layui.all.js"></script>
    <script src="resource/plugin/jq-cookie/jquery-cookie.js"></script>
    <script src="resource/js/lib/vlm.js"></script>
    <script src="resource/js/lib/vue.js"></script>

    <script src="resource/plugin/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="login" id="login">
    <div class="login_wrap">
        <form>
            <div class="zn_bj">
                <h2 class="zn_title2">用户登录</h2>

                <div class="zn_form clearfix">
                    <ul>
                        <li>
                            <input type="text" name="userAcct" v-model="username" id="userAcct" class="zn_ipt1"
                                   placeholder="用户名">
                        </li>
                        <li>
                            <input type="password" value="" name="userPswd" id="userPswd" class="zn_ipt2"
                                   placeholder="密码"
                                   v-model='password' @keyup.enter='login'>
                        </li>
                        <li class="clearfix login_select">
                            <div class="fl">
                                <input type="checkbox" id="checkbox_c1">
                            </div>
                            <div class="fl zn_name">记住用户名</div>
                            <div class="fr zn_name">
                                自动登录<span id="countdown">&nbsp;</span>
                            </div>
                            <div class="fr"><input type="checkbox" id="checkbox_c2"></div>
                        </li>
                        <li><input id="loginBut" type="button" class="zn_iub" value="登录" @click='login'></li>
                    </ul>
                </div>
            </div>
        </form>


    </div>
</div>


<script>
    new Vue({
        el: '#login',
        data: {
            username: '',
            userId: '',
            password: '',
            errorMsg: ''
        },
        beforeCreate: function () {
            if (self != top) {
                top.location.href = self.location.href;
            }
        },
        methods: {
            login: function () {
                var _this = this;
                var data = "username=" + this.username + "&password=" + this.password;
                $.ajax({
                    type: "POST",
                    url: vlm.serverAddr + "sys/login",
                    data: data,
                    dataType: "json",
                    success: function (res) {
                        if (res.code == 0) {//登录成功
                            _this.checkInfo();
                        } else {
                            layer.open({
                                title: '提示',
                                content: res.msg
                            });
                        }
                    }
                });
            },

            //保存用户信息
            saveUserInfo: function () {
                $.cookie("userName", this.username, {expires: 7});
                $.cookie("userId", this.userId, {expires: 7});
                $.cookie("passWord", this.password, {expires: 7});
                if ($("#checkbox_c1").is(':checked')) {
                    $.cookie("rmbUser", "true", {expires: 7});
                }
            },

            //检测记住用户名
            checkRem: function () {
                if ($.cookie("rmbUser") == "true") {
                    $("#checkbox_c1").prop("checked", true);
                    this.username=$.cookie("userName");
                    this.password=$.cookie("passWord");
                }
            },

            //存info
            checkInfo: function () {
                var _this = this;
                $.ajax({
                    type: "get",
                    url: vlm.serverAddr + "sys/user/info",
                    data: "",
                    dataType: "json",
                    success: function (res) {
                        if (res.code == 0) {//登录成功
                            _this.userId = res.user.userId;

                            _this.saveUserInfo();
                            window.location.href = 'index.html';
                        } else {

                        }
                    }
                });
            }
        },
        mounted: function () {
            this.checkRem();
        }
    });

</script>


</body>
</html>